 <div class="col-md-8 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
            From the Blogs <small><%= link_to 'Create New Blog', new_blog_path if logged_in?(:site_admin) %></small>
            </h3>

          <%= paginate @blogs %>
        <%=  render @blogs %> 
          <%= paginate @blogs %>
            
 </div><!-- /.blog-main -->


  


