        <div class="album py-5 bg-light"> <%# Start of  album thumb%>
              <div class="container">

                <div class="row  <%= "sortable" if logged_in?(:site_admin)%>">

                        <%= render partial: "portfolio_item", collection:  @portfolio_items %><%#  manually collections partial render; for diffrent naming conventions @portfolio_items instead of @portfolios %>
                        </div>
                  </div>
        </div><%# End of  album thumb%>